@model Views_EditarPerfil_index
@{
    ViewData["title"] - "Editar Pjiierfil";
    
}
<form method="POST" action='@url.Action("EditarPerfil")'>
    <label>ID</label>
    <input type="text" name="IDEditarPerfil">



</form>